### Data Types and Structures – Theoretical Questions

1. What are data structures, and why are they important?

    -> Data structures are organized ways to store and manage data (e.g., lists, stacks, trees). They are important because they improve efficiency in data access, storage, and manipulation.

2.  Explain the difference between mutable and immutable data types with examples.
    * **Mutable:** Can be changed after creation. Example: `list = [1, 2]; list[0] = 5`.
    * **Immutable:** Cannot be changed. Example: `s = "hello"; s[0] = "H"` ❌.

3.  What are the main differences between lists and tuples in Python?

    * Lists: Mutable, slower, use `[]`.
    * Tuples: Immutable, faster, use `()`.

4.  Describe how dictionaries store data.

    -> Dictionaries store data as **key-value pairs** using a **hash table** for fast lookup.

5. Why might you use a set instead of a list in Python?

    -> Sets automatically remove duplicates and provide faster membership checks.

6. What is a string in Python, and how is it different from a list?

    * String: Immutable sequence of characters.
    * List: Mutable sequence of elements (can hold mixed types).

7. How do tuples ensure data integrity in Python?

    -> Tuples are immutable, so their contents cannot be altered accidentally.

8. What is a hash table, and how does it relate to dictionaries in Python?

    -> A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

    -> Yes. Example: `[1, "hello", 3.5, True]`.

10. Explain why strings are immutable in Python.

    -> For memory efficiency, thread safety, and security—ensuring they cannot be altered once created.

11.  What advantages do dictionaries offer over lists for certain tasks?

* Faster lookups (`O(1)` vs. `O(n)`).
* Data is accessed by meaningful keys instead of numeric indexes.

12. Describe a scenario where using a tuple would be preferable over a list.

    -> Duplicates are automatically removed. `{1, 2, 2, 3} → {1, 2, 3}`.

13. How do sets handle duplicate values in Python?

    -> When storing fixed, unchangeable data such as GPS coordinates or database records.

14. How does the “in” keyword work differently for lists and dictionaries?

* List: Checks elements.
* Dictionary: Checks keys only.

15. Can you modify the elements of a tuple? Explain why or why not.

    -> No, because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?

    -> A dictionary inside another dictionary.  
Example: `student = {"name": "Alice", "marks": {"math": 90, "science": 85}}`.

17. Describe the time complexity of accessing elements in a dictionary.

    -> Average case: `O(1)` due to hashing.

18. In what situations are lists preferred over dictionaries?

* When order matters.
* When only sequential data is needed.
* When keys are not necessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    -> They are based on hashing, not indexing. Retrieval is by key, not position. (From Python 3.7+, insertion order is preserved but not index-based.)

20. Explain the difference between a list and a dictionary in terms of data retrieval.

* List: Retrieved by **index** (`list[2]`).
* Dictionary: Retrieved by **key** (`dict["name"]`).

### Data Types and Structures – Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it

name = "Dnyaneshwar Potdar"
print(name)

Dnyaneshwar Potdar

In [2]:
# 2. Write a code to find the length of the string "Hello World"

message = "Hello World"
length = len(message)
print(length)

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
slice_text = text[:3]
print(slice_text)

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase

word = "hello"
upper_word = word.upper()
print(upper_word)

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_letter = letters[1]
print(second_letter)

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

tuple_data = (100, 200, 300)
print(tuple_data)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)
minimum_value = min(numbers)
print(minimum_value)

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print(index_of_cat)

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ('apple', 'banana', 'orange')
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

char_set = {'a', 'b', 'c'}
print(char_set)

{'c', 'b', 'a'}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

In [18]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

num_set = {1, 2, 3, 4}
num_set.remove(4)
print(num_set)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [21]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}
name_value = person["name"]
print(name_value)

Alice

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

person = {'name': 'Alice', 'city': 'Paris'}
key_exists = "city" in person
print(key_exists)

True

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Tom", "age": 28}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Tom', 'age': 28}

In [27]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print it

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[17, 48, 51, 59, 59]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index

fruits = ["apple", "banana", "cherry", "orange"]
third_element = fruits[3]
print(third_element)

orange

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result

dict1 = {"name": "John", "age": 25}
dict2 = {"city": "New York", "country": "USA"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [30]:
# 30. Write a code to convert a list of strings into a set

string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}